/* Reset de márgenes y padding para mayor consistencia */
body, h1, h2, section, footer {
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado */
header {
    background-color: #1F2937;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Estilo para las secciones */
section {
    background-color: white;
    margin: 0px;
    padding: 20px;
}

/* Estilo para el pie de página */
footer {
    background-color: #1F2937;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.sectres {
 background-color: #e5e7e5;
  }
.sec-one {
    background-color: #1F2937;
}